mixin ytp
    .wrapper
        .container
            .row
                .col-xl-6.col-sm-12
                    h2.ytp__title A Trustworthy Moving Company in Los Angeles
                    p.ytp__text Licensed in California Public Utilities Commission 
                    p.ytp__text.ytp__text--second Cal P.U.C. T0191956
                    .video.d-flex
                        a.ytp__link(href="#") Watch how we work
                        a.ytp__link-video.d-flex.justify-content-center.align-items-center(href="#")
                            img.ytp__image(src="./img/play 1.jpg", alt="")
                .col-xl-4.offset-xl-2.col-sm-12
                    form.form__list
                        h3.form__title Get Your Quote Online!
                        input.form__name.form__name--first(type="text")(name="data")(placeholder="Move Data")
                        input.form__name.form__name--second(id="sec")(type="text")(name="zip1")(placeholder="From Zip")
                        img.form__name-image(src="./img/Vector (2).jpg", alt="")
                        input.form__name.form__name--third(id="sec")(type="text")(name="zip2")(placeholder="To Zip")
                        img.form__name-image2(src="./img/Vector (2).jpg", alt="")
                        input.form__btn(type="submit")(name="submit")(value="GET my Qzip2")
                        p.form__text or 
                            a.form__link(href="tel:(800) 298-0044")
                                span.form__text-call Call (800) 298-0044
                        p.form__text-data We do not  share your data #[br] 
                        a.form__link(href="#")
                            span.form__text-span Data Protection 
                        span.form__text-data & 
                        a.form__link(href="#")
                            span.form__text-span Privacy Policy